$totalPageColor :  #FDFDFF;
$btnPurpleColor :  #8D7FC7;
$btnTextColor : #FFFFFF;
$totalGreyColor : #ECECEC;
$placeholderColor : #79747F;
$blueColor :  #008AFF;
$textBlueColor : #323854;
$brightBlueForButtons : #D8ECFF;






