$totalBlackColor: #000;
$textBlackColor: #0d1f22;
$textGreyColor: #666;
$totalOrangeColor: #f37020;
$totalGreyColor: #999;
$lightGreyColor: #e4e4e4;
$totalWhiteColor: #fff;
$backgroundWhiteColor : #eee;
$colorPrimaryWhite: rgb(240, 240, 240)
