@import "../../../scss/style";

.list-items {
  font-family: "Circe Rounded", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $sideBarListTextColor;
  cursor: pointer;
  &__li-component {
    display: flex;
    flex-direction: row;
    padding: 8px 0px 8px 46px;
    border-radius: 0px 30px 30px 0px;
    img {
      padding-right: 8px;
    }
    &:hover {
      width: 216px;
      background-color: $btnPurpleColor;
      color: #FFFFFF;
    }
  }
}