@import "../../../scss/style";

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form {
  width: 340px;
  &__logo {
    padding-bottom: 32px;
  }
  &__title {
    font-size: 40px;
    padding-bottom: 16px;
    font-weight: 400;
  }
  &__input-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    &-label {
      font-size: 12px;
      font-weight: 400;
      line-height: 16.2px;
      text-align: left;
      color: $placeholderColor;
      display: flex;
      align-items: center;
    }
  }
  &__checkbox-input {
    width: 16px;
    height: 16px;
    border: 1px solid #C8C5CD;
   margin-right: 8px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    &-styles {
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: center;
      color: $blueColor;
    }
    &-no-acc {
      cursor: pointer;
      color: $textBlueColor;
      padding-bottom: 6px;
    }
  }
  &__btn-wrapper {
    padding-bottom: 15px;
  }
  &__under-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
  }
  &__btn-links-block {
    padding-bottom: 64px;
  }
  &__password-input {
    position: relative;
    max-width: 339px;
    height: 36px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    border: 1px solid $totalGreyColor;
    outline: none;
    margin-bottom: 12px;
    &::placeholder {
      color: $placeholderColor;
    }
    &:focus {
      border: 1px solid $btnPurpleColor;
    }
  }
}

.input-visible-btn {
  position: absolute;
  z-index: 10;
  left: 57%;
  top: 49.5%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background: inherit;
}